<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorldMap</key>
	<dict>
		<key>iPhone</key>
		<array>
			<string>930-425</string>
			<string>815-323</string>
			<string>576-261</string>
			<string>439-293</string>
			<string>388-156</string>
			<string>247-136</string>
			<string>147-194</string>
			<string>501-183</string>
			<string>485-96</string>
			<string>815-510</string>
			<string>827-634</string>
			<string>290-309</string>
		</array>
		<key>iPad</key>
		<array>
			<string>1860-852</string>
			<string>1624-644</string>
			<string>1158-526</string>
			<string>884-588</string>
			<string>760-310</string>
			<string>488-264</string>
			<string>300-390</string>
			<string>1008-370</string>
			<string>984-178</string>
			<string>1640-1016</string>
			<string>1650-1262</string>
			<string>578-622</string>
		</array>
	</dict>
	<key>Shields</key>
	<dict>
		<key>archer</key>
		<string>1-1.5</string>
		<key>alchemist</key>
		<string>1-1.5</string>
		<key>assassin</key>
		<string>1-1.5</string>
		<key>cannoneer</key>
		<string>1-1.5</string>
		<key>knight</key>
		<string>1-1.5</string>
		<key>ninja</key>
		<string>1-1.5</string>
		<key>paladin</key>
		<string>1-1.5</string>
		<key>sniper</key>
		<string>1-1.5</string>
		<key>scout</key>
		<string>1-1.5</string>
		<key>warrior</key>
		<string>1-1.5</string>
		<key>soldier</key>
		<string>1-1.5</string>
		<key>sorcerer</key>
		<string>1-1.5</string>
	</dict>
	<key>Maps</key>
	<array>
		<dict>
			<key>Money</key>
			<integer>100</integer>
			<key>Health</key>
			<integer>14</integer>
			<key>Monsters</key>
			<string>100/goblin-50/gremlin-50</string>
			<key>Image</key>
			<string>map_01.png</string>
			<key>ImageHD</key>
			<string>map_01-hd.png</string>
			<key>Row</key>
			<integer>6</integer>
			<key>Col</key>
			<integer>8</integer>
			<key>x0</key>
			<integer>77</integer>
			<key>y0</key>
			<integer>135</integer>
			<key>x0HD</key>
			<integer>269</integer>
			<key>y0HD</key>
			<integer>347</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>100</string>
			<key>Health</key>
			<string>14</string>
			<key>Monsters</key>
			<string>100/goblin-50/gremlin-30/tentacles-10</string>
			<key>Image</key>
			<string>map_02.png</string>
			<key>ImageHD</key>
			<string>map_02-hd.png</string>
			<key>Row</key>
			<integer>6</integer>
			<key>Col</key>
			<integer>8</integer>
			<key>x0</key>
			<integer>70</integer>
			<key>y0</key>
			<integer>154</integer>
			<key>x0HD</key>
			<integer>258</integer>
			<key>y0HD</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>150</string>
			<key>Health</key>
			<string>15</string>
			<key>Monsters</key>
			<string>100/warWolf-30/bat-10/beezMan-60</string>
			<key>Image</key>
			<string>map_03.png</string>
			<key>ImageHD</key>
			<string>map_03-hd.png</string>
			<key>Row</key>
			<integer>7</integer>
			<key>Col</key>
			<integer>9</integer>
			<key>x0</key>
			<integer>77</integer>
			<key>y0</key>
			<integer>182</integer>
			<key>x0HD</key>
			<integer>197</integer>
			<key>y0HD</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>170</string>
			<key>Health</key>
			<string>17</string>
			<key>Monsters</key>
			<string>100/lilith-50/tentacles-50</string>
			<key>Image</key>
			<string>map_04.png</string>
			<key>ImageHD</key>
			<string>map_04-hd.png</string>
			<key>Row</key>
			<integer>8</integer>
			<key>Col</key>
			<integer>9</integer>
			<key>x0</key>
			<integer>77</integer>
			<key>y0</key>
			<integer>203</integer>
			<key>x0HD</key>
			<integer>180</integer>
			<key>y0HD</key>
			<integer>391</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>170</string>
			<key>Health</key>
			<string>17</string>
			<key>Monsters</key>
			<string>70/skeleton-50/snowMan-50</string>
			<key>Image</key>
			<string>map_05.png</string>
			<key>ImageHD</key>
			<string>map_05-hd.png</string>
			<key>Row</key>
			<integer>7</integer>
			<key>Col</key>
			<integer>10</integer>
			<key>x0</key>
			<integer>73</integer>
			<key>y0</key>
			<integer>182</integer>
			<key>x0HD</key>
			<integer>194</integer>
			<key>y0HD</key>
			<integer>375</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>200</string>
			<key>Health</key>
			<string>20</string>
			<key>Monsters</key>
			<string>100/skeleton-50/snowMan-50</string>
			<key>Image</key>
			<string>map_06.png</string>
			<key>ImageHD</key>
			<string>map_06-hd.png</string>
			<key>Row</key>
			<integer>10</integer>
			<key>Col</key>
			<integer>10</integer>
			<key>x0</key>
			<integer>112</integer>
			<key>y0</key>
			<integer>238</integer>
			<key>x0HD</key>
			<integer>149</integer>
			<key>y0HD</key>
			<integer>399</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>200</string>
			<key>Health</key>
			<string>20</string>
			<key>Monsters</key>
			<string>100/armorSkeleton-50/snowMan-50</string>
			<key>Image</key>
			<string>map_07.png</string>
			<key>ImageHD</key>
			<string>map_07-hd.png</string>
			<key>Row</key>
			<integer>10</integer>
			<key>Col</key>
			<integer>10</integer>
			<key>x0</key>
			<integer>96</integer>
			<key>y0</key>
			<integer>238</integer>
			<key>x0HD</key>
			<integer>146</integer>
			<key>y0HD</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>140</string>
			<key>Health</key>
			<string>14</string>
			<key>Monsters</key>
			<string>70/gargoyle-50/harpy-50</string>
			<key>Image</key>
			<string>map_08.png</string>
			<key>ImageHD</key>
			<string>map_08-hd.png</string>
			<key>Row</key>
			<integer>7</integer>
			<key>Col</key>
			<integer>7</integer>
			<key>x0</key>
			<integer>64</integer>
			<key>y0</key>
			<integer>167</integer>
			<key>x0HD</key>
			<integer>247</integer>
			<key>y0HD</key>
			<integer>398</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>180</string>
			<key>Health</key>
			<string>18</string>
			<key>Monsters</key>
			<string>70/tentacles-30/harpy-20/beezMan-50</string>
			<key>Image</key>
			<string>map_09.png</string>
			<key>ImageHD</key>
			<string>map_09-hd.png</string>
			<key>Row</key>
			<integer>9</integer>
			<key>Col</key>
			<integer>9</integer>
			<key>x0</key>
			<integer>77</integer>
			<key>y0</key>
			<integer>215</integer>
			<key>x0HD</key>
			<integer>153</integer>
			<key>y0HD</key>
			<integer>393</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>100</string>
			<key>Health</key>
			<string>14</string>
			<key>Monsters</key>
			<string>70/harpy-50/bat-50</string>
			<key>Image</key>
			<string>map_10.png</string>
			<key>ImageHD</key>
			<string>map_10-hd.png</string>
			<key>Row</key>
			<integer>7</integer>
			<key>Col</key>
			<integer>7</integer>
			<key>x0</key>
			<integer>59</integer>
			<key>y0</key>
			<integer>179</integer>
			<key>x0HD</key>
			<integer>242</integer>
			<key>y0HD</key>
			<integer>415</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>100</string>
			<key>Health</key>
			<string>20</string>
			<key>Monsters</key>
			<string>100/tentacles-50/harpy-50</string>
			<key>Image</key>
			<string>map_11.png</string>
			<key>ImageHD</key>
			<string>map_11-hd.png</string>
			<key>Row</key>
			<integer>10</integer>
			<key>Col</key>
			<integer>10</integer>
			<key>x0</key>
			<integer>69</integer>
			<key>y0</key>
			<integer>237</integer>
			<key>x0HD</key>
			<integer>102</integer>
			<key>y0HD</key>
			<integer>398</integer>
		</dict>
		<dict>
			<key>Money</key>
			<string>100</string>
			<key>Health</key>
			<string>19</string>
			<key>Monsters</key>
			<string>200/behemoth-30/chimera-30/devilMan-30/druid-10</string>
			<key>Image</key>
			<string>map_12.png</string>
			<key>ImageHD</key>
			<string>map_12-hd.png</string>
			<key>Row</key>
			<integer>10</integer>
			<key>Col</key>
			<integer>9</integer>
			<key>x0</key>
			<integer>100</integer>
			<key>y0</key>
			<integer>252</integer>
			<key>x0HD</key>
			<integer>148</integer>
			<key>y0HD</key>
			<integer>420</integer>
		</dict>
	</array>
</dict>
</plist>
