<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>hit_arrow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 29}, {86, 78}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{86, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 230}, {78, 86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_arrow_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {138, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{138, 124}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 695}, {138, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_arrow_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {148, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{148, 136}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 524}, {148, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_arrow_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 138}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{148, 138}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 474}, {148, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {159, 114}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{159, 114}</string>
			<key>spriteSourceSize</key>
			<string>{165, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {159, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 112}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{149, 112}</string>
			<key>spriteSourceSize</key>
			<string>{165, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 409}, {149, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {133, 102}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{133, 102}</string>
			<key>spriteSourceSize</key>
			<string>{165, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 200}, {102, 133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_blade_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {95, 70}}</string>
			<key>spriteOffset</key>
			<string>{-6, -6}</string>
			<key>spriteSize</key>
			<string>{95, 70}</string>
			<key>spriteSourceSize</key>
			<string>{165, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 463}, {70, 95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 24}, {64, 42}}</string>
			<key>spriteOffset</key>
			<string>{15, 4}</string>
			<key>spriteSize</key>
			<string>{64, 42}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 300}, {42, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {94, 86}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{94, 86}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 389}, {86, 94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {96, 92}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{96, 92}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 0}, {92, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 98}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{90, 98}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 99}, {90, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_bullet_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{419, 200}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_bullet_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 233}, {60, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 12}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{3, 6}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{102, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 166}, {62, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 77}, {120, 109}}</string>
			<key>spriteOffset</key>
			<string>{-3, -18}</string>
			<key>spriteSize</key>
			<string>{120, 109}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 601}, {109, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 82}, {112, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -17}</string>
			<key>spriteSize</key>
			<string>{112, 97}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 486}, {97, 112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 66}, {154, 131}}</string>
			<key>spriteOffset</key>
			<string>{-2, -18}</string>
			<key>spriteSize</key>
			<string>{154, 131}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 275}, {154, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 53}, {200, 149}}</string>
			<key>spriteOffset</key>
			<string>{5, -14}</string>
			<key>spriteSize</key>
			<string>{200, 149}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 0}, {200, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 42}, {232, 163}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{232, 163}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 0}, {232, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 42}, {166, 159}}</string>
			<key>spriteOffset</key>
			<string>{8, -8}</string>
			<key>spriteSize</key>
			<string>{166, 159}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{709, 312}, {166, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 50}, {186, 157}}</string>
			<key>spriteOffset</key>
			<string>{3, -15}</string>
			<key>spriteSize</key>
			<string>{186, 157}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 152}, {186, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 19}, {238, 197}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{238, 197}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 0}, {238, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 227}</string>
			<key>spriteSourceSize</key>
			<string>{250, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 89}, {1, 2}}</string>
			<key>spriteOffset</key>
			<string>{-1, -8}</string>
			<key>spriteSize</key>
			<string>{1, 2}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1023, 200}, {1, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {167, 164}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{167, 164}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 166}, {167, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {153, 144}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{153, 144}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{878, 336}, {144, 153}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_electric_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {153, 140}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{153, 140}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 421}, {153, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {153, 138}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{153, 138}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 333}, {153, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {147, 128}}</string>
			<key>spriteOffset</key>
			<string>{-10, 3}</string>
			<key>spriteSize</key>
			<string>{147, 128}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 564}, {147, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 43}, {93, 88}}</string>
			<key>spriteOffset</key>
			<string>{-4, -5}</string>
			<key>spriteSize</key>
			<string>{93, 88}</string>
			<key>spriteSourceSize</key>
			<string>{171, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 934}, {93, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {68, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 70}</string>
			<key>spriteSourceSize</key>
			<string>{74, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 634}, {70, 68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_hammer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {74, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 68}</string>
			<key>spriteSourceSize</key>
			<string>{74, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 392}, {74, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 70}</string>
			<key>spriteSourceSize</key>
			<string>{74, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 319}, {74, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{74, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 561}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {163, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 71}</string>
			<key>spriteSourceSize</key>
			<string>{163, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 230}, {163, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 5}, {111, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 85}</string>
			<key>spriteSourceSize</key>
			<string>{163, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 663}, {111, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {109, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 95}</string>
			<key>spriteSourceSize</key>
			<string>{163, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 822}, {95, 109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_katana_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {107, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 95}</string>
			<key>spriteSourceSize</key>
			<string>{163, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 474}, {107, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_sword_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 15}, {163, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{163, 72}</string>
			<key>spriteSourceSize</key>
			<string>{163, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 200}, {163, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_sword_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 8}, {111, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{111, 86}</string>
			<key>spriteSourceSize</key>
			<string>{163, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 275}, {86, 111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_sword_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 2}, {109, 94}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{109, 94}</string>
			<key>spriteSourceSize</key>
			<string>{163, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 822}, {94, 109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_sword_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {107, 96}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{107, 96}</string>
			<key>spriteSourceSize</key>
			<string>{163, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 474}, {107, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>hit-hd</string>
		<key>textureFileName</key>
		<string>hit-hd.pvr.ccz</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>