<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>hit_arrow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 19}, {58, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 54}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 154}, {54, 58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_arrow_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {92, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{92, 84}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 465}, {92, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_arrow_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 351}, {100, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_arrow_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 317}, {100, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {106, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{106, 76}</string>
			<key>spriteSourceSize</key>
			<string>{110, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 203}, {106, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 74}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{100, 74}</string>
			<key>spriteSourceSize</key>
			<string>{110, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 274}, {100, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_blade_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {90, 68}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{90, 68}</string>
			<key>spriteSourceSize</key>
			<string>{110, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 134}, {68, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_blade_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 20}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{110, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 310}, {48, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 15}, {44, 29}}</string>
			<key>spriteOffset</key>
			<string>{10, 3}</string>
			<key>spriteSize</key>
			<string>{44, 29}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 201}, {29, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {64, 59}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{64, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 260}, {59, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 0}, {63, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 65}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{60, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 66}, {60, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_bullet_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 134}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_bullet_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {44, 41}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{44, 41}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 156}, {41, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_bullet_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {44, 43}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{44, 43}</string>
			<key>spriteSourceSize</key>
			<string>{68, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 111}, {43, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 51}, {81, 74}}</string>
			<key>spriteOffset</key>
			<string>{-2, -12}</string>
			<key>spriteSize</key>
			<string>{81, 74}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 402}, {74, 81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 54}, {75, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{75, 66}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 325}, {66, 75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_canon_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 44}, {103, 88}}</string>
			<key>spriteOffset</key>
			<string>{-2, -12}</string>
			<key>spriteSize</key>
			<string>{103, 88}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 184}, {103, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 35}, {135, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -9}</string>
			<key>spriteSize</key>
			<string>{135, 100}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 0}, {135, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 28}, {157, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{157, 110}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 0}, {157, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 28}, {111, 108}}</string>
			<key>spriteOffset</key>
			<string>{5, -6}</string>
			<key>spriteSize</key>
			<string>{111, 108}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 209}, {111, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 33}, {125, 106}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{125, 106}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 101}, {125, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {161, 132}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{161, 132}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 0}, {161, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_canon_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 152}</string>
			<key>spriteSourceSize</key>
			<string>{167, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {167, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 59}, {2, 1}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{2, 1}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 134}, {2, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {112, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{112, 109}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 111}, {112, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {102, 97}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{102, 97}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 225}, {97, 102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_electric_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {102, 95}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{102, 95}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 282}, {102, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {102, 93}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{102, 93}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 223}, {102, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {98, 85}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{98, 85}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 377}, {98, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_electric_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 28}, {64, 61}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{64, 61}</string>
			<key>spriteSourceSize</key>
			<string>{114, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 625}, {64, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{49, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 424}, {46, 45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_hammer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 46}</string>
			<key>spriteSourceSize</key>
			<string>{49, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 262}, {49, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 46}</string>
			<key>spriteSourceSize</key>
			<string>{49, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 213}, {49, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_hammer_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {47, 46}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{47, 46}</string>
			<key>spriteSourceSize</key>
			<string>{49, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 375}, {47, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {109, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 47}</string>
			<key>spriteSourceSize</key>
			<string>{109, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {109, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 3}, {75, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 57}</string>
			<key>spriteSourceSize</key>
			<string>{109, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 444}, {75, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_katana_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {73, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 63}</string>
			<key>spriteSourceSize</key>
			<string>{109, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 550}, {63, 73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_katana_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {73, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 63}</string>
			<key>spriteSourceSize</key>
			<string>{109, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{505, 317}, {73, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_sword_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {109, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{109, 48}</string>
			<key>spriteSourceSize</key>
			<string>{109, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 134}, {109, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit_sword_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {75, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{75, 58}</string>
			<key>spriteSourceSize</key>
			<string>{109, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 184}, {58, 75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_sword_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {73, 64}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{73, 64}</string>
			<key>spriteSourceSize</key>
			<string>{109, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 550}, {64, 73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hit_sword_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {71, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{71, 64}</string>
			<key>spriteSourceSize</key>
			<string>{109, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 317}, {71, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{687, 687}</string>
		<key>name</key>
		<string>hit-hd</string>
		<key>textureFileName</key>
		<string>hit.pvr.ccz</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>